@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:ital,wght@0,500;1,500&family=Mukta&family=Open+Sans:ital@1&family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body{
    background-color: #2d2b2b;
    padding: 0 15%;
    color: #ffffff;
}
header{
    margin-top: 30px;
   height: 40px;
   margin-bottom: 30px;
}
.img{
    /* width: 100px; */
    height: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    margin-left: 40px;
    list-style: none;
}

.navButton{
    padding: 10px;
    border:2px solid yellow;
    color: yellow;
    background-color: #2d2b2b;
    border-radius: 10px;
}

.hamAndCross{
    display: none;
}
.cross{
    display: none;
}

.meanu{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
}
.meanu ul li{
    list-style: none;
    padding-bottom: 10px;
}

/* ---------------------------main------------------- */
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0px;
}

.content h1{
    width: 50%;
    font-size: 60px;
    font-weight: 900;
}

.content p{
    width: 40%;
    color: #dddada;
}

.banner{
    width: 100%;
}


@media only screen and (max-width:400px){
    body{
        background-color: #2d2b2b;
        padding: 0 8%;
        color: #ffffff;
    }
    .hamAndCross{
        display: block;
    }
    .ulList{
        display: none;
    }

    .content{
        display: flex;
        /* justify-content: space-between;
        align-items: center; */
        /* margin: 45px 0px; */
        flex-direction: column;
    }
    .content h1{
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .content p{
        width: 100%;
        text-align: center;
        color: #dddada;
    }
}

@media only screen and (max-width:775px){
    body{
        background-color: #2d2b2b;
        padding: 0 8%;
        color: #ffffff;
    }
    .hamAndCross{
        display: block;
    }
    .ulList{
        display: none;
    }
}
/* 
@media only screen and (max-width:695px) and (min-width:400px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .content h1{
        width: 100%;
        text-align: center;
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .content p{
        width: 100%;
        text-align: center;
        color: #dddada;
    }
} */


@media only screen and (min-width:400px) and (max-width:695px) {
    .content{
        display: flex;
        flex-direction: column;
    }
    .content h1{
        width: 100%;
        text-align: center;
        font-size: 60px;
        font-weight: 900;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .content p{
        width: 100%;
        text-align: center;
        color: #dddada;
    }
}